{% extends 'shop/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Custom Cake - AR Kitchen{% endblock %}

{% block content %}
<div class="container py-5">
    <h2 class="text-center fw-bold mb-4" style="color: #502912;">Design Your Cake</h2>
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow-sm p-4">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row g-3">
                        <div class="col-md-6">{{ form.name|as_crispy_field }}</div>
                        <div class="col-md-6">{{ form.phone|as_crispy_field }}</div>
                        <div class="col-md-6">{{ form.email|as_crispy_field }}</div>
                        <div class="col-md-6">{{ form.flavor|as_crispy_field }}</div>
                        <div class="col-md-6">{{ form.weight|as_crispy_field }}</div>  <!-- SIZE → WEIGHT -->
                        <div class="col-md-6">{{ form.delivery_date|as_crispy_field }}</div>
                        <div class="col-12">{{ form.message|as_crispy_field }}</div>
                        <div class="col-12">{{ form.design_image|as_crispy_field }}</div>
                        <div class="col-12">{{ form.note|as_crispy_field }}</div>
                        
                    </div>
                    <button type="submit" class="btn btn-success w-100 mt-3 btn-lg">Send Request</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}